<form class="form col-md-3 p-5 d-flex" (submit)='$event.preventDefault(); aniadirPersona(nombre.value, apellidos.value, edad.value, DNI.value)'>
    <table>
        <tr>
            <td><label for="nombre">Nombre</label></td>
            <td><input type="text" #nombre /></td>
        </tr>
        <tr>
            <td><label for="apellidos">Apellidos</label></td>
            <td><input type="text" #apellidos/></td>
        </tr>
        <tr>
            <td><label for="edad">Edad</label></td>
            <td><input type="number" #edad/></td>
        </tr>
        <tr>
            <td><label for="DNI">DNI</label></td>
            <td> <input type="number" #DNI /></td>
        </tr>
        <tr>
            <td colspan="2"><button class="btn-enviar" type="submit">Enviar</button></td>
        </tr>

    </table>
</form>


<div class="agenda col-md-12" *ngIf="!isEmpty()">
    <div class="persona col-md-3" *ngFor="let persona of personas">
        <h1>{{persona.nombreCompleto()}}</h1>
        <p>{{persona.mostrarInfo()}}</p>
    </div>
</div>

